<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ year }} Movies</title>
        <link rel="stylesheet" href="letterboxd.css"/>
    </head>
    <body>
        <div class="content">
            <h1 id="main">{{ year }} in Letterboxd movies</h1>

            <h2>Table of Contents</h2>
            <ol>
                <li><a href="#general_info">General Information</a></li>
                <li><a href="#movies_watched">Movies Watched</a></li>
                <li>
                    <a href="#graphics">Graphics</a>
                    <ol>
                        {% for graph in graphs %}<li><a href="#{{ graph.id }}">{{ graph.title}}</a></li>{% endfor %}
                    </ol>
                </li>
            </ol>

            <h2 id="general_info">General Information</h2>
            <table>
                <tr>
                    <th>Movies Watched</th>
                    <th>Rewatches</th>
                    <th>Ratings Average</th>
                </tr>
                <tr>
                    <td class="numeric-data">{{ watched }}</td>
                    <td class="numeric-data">{{ rewatches }}</td>
                    <td class="numeric-data">{{ average }}</td>
                </tr>
            </table>
            <a href="#main">Back to top</a>

            <h2 id="movies_watched">Movies Watched</h2>
            <table>
                <tr>
                    <th>Watched Date</th>
                    <th>Movie</th>
                    <th>Rating</th>
                </tr>
                {% for movie in movies %}<tr>
                    <td class="numeric-data">{{ movie.watched }}</td>
                    <td><a href="{{ movie.review_link }}" target="_blank">{{ movie.name }}</a></td>
                    <td class="numeric-data">{{ movie.rating }}</td>
                </tr>{% endfor %}
            </table>
            <a href="#main">Back to top</a>

            <h2 id="graphics">Graphics</h2>

            {% for graph in graphs %}<h3 id="{{ graph.id }}">{{ graph.title }}</h3>
            <p style="text-align: center">
                <img src="{{ graph.file }}"/>
            </p>
            <a href="#main">Back to top</a>
            {% endfor %}

            <br/>
            <p style="text-align:center; font-size: 12px">Developed by Paulo Ortolan</p>
        </div>
    </body>
</html>